@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/index.css">
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "Home")'; // Redirect to login page
        }, 6000); // 4000 milliseconds = 4 seconds
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Advik POS Services</h1>
        <p>Your go to destination for Voter ID search</p>
        <div class="address">
            <p class="red">Address: Shardha Puri Phase 2 Rd, Meerut, Uttar Pradesh 250001</p>
            <p class="green">Advik POS Services is a Dehradun-Meerut based Software development company founded in 2012 providing IT solutions to a diverse customer base.</p>
        </div>
    </div>
</body>
</html>