@page
@model voter_application.Views.Home.search_resultModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/search_result.css">
</head>
<body>
    <div class="company-logo">
        <img src="../images/logo_redfox.png" alt="Company Logo">
        <!-- <div class="company-name">Advik Pos Services</div> -->
    </div>
    <h1 id="title">Search Results</h1>
    <div class="table-container">
        <table>
            <tr>
                <th>Serial Number</th>
                <th>EPIC Number</th>
                <th>Name</th>
                <th>Father's Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            <!-- Add table rows here -->
        </table>
    </div>
</body>
</html>