body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    background-image:url(/images/background_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.company-logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

    .company-logo img {
        width: 150px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
    }
/* .company-name {
  font-style: normal;
  font-weight: bold;
  color: #333; 
  margin-top: 5px; 
} */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.login-form {
    width: 100%;
    max-width: 400px; /* Set maximum width for the form */
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

    .login-form h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center; /* Center the heading */
    }

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%; /* Make the input fields full width */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%; /* Make the button full width */
    background-color: green;
    border: none;
    color: white;
    padding: 10px 0; /* Adjust padding for vertically centered text */
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.text-muted {
    font-size: 14px;
    text-align: left; /* Center align the text */
}

#forgotlink {
    margin-bottom: 10px; /* Add margin bottom */
}
